/* Vista movil */
@media (320px <= width <= 480px) {
    /* Contacto */
    .contact-container {
        width: 300px;
        padding: 20px;
        margin: 20px 0;
    }

    .form-group input, .form-group textarea, .form-group label {
        font-size: 0.9rem;
    }

    .button-form button {
        font-size: 0.8rem;
        padding: 10px;
    }
}