/* Vista movil */
@media (320px <= width <= 480px) {
    /* Discrografía */
    .album-container {
        width: 95%;
        flex-direction: column;
        padding: 10px;
        margin: 20px 0;
    }

    .album-1, .album-2 {
        margin-bottom: 10px;
    }

    .album-1, .album-2, .album-link {
        width: 100%;
    }

    .album-details {
        font-size: 0.9rem;
    }

    #top {
        display: none;
    }

    /* Galería */
    .gallery-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-auto-rows: 220px;
        gap: 10px;
        padding: 20px;
    }

    .item, .item_horizontal, .item_wide  {
        grid-column: span 2;
        grid-row: span 1;
    }

    .item_vertical, .item_tall {
        grid-column: span 2;
        grid-row: span 2;
    }

    .video-container {
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
    }

    .card-container:first-of-type {
        margin-bottom: 25px;
    }

    .card-container iframe {
        width: 300px;
        height: 200px;
    }

    .card-video-content {
        width: 300px;
    }

    .card-video-content h5 {
        font-size: 1rem;
    }

    .card-video-content p {
        font-size: 0.8rem;
    }
    /* Nosotros */
    #aboutUs {
        flex-direction: column;
        padding: 20px 0;
    }

    .about-us-banner {
        margin-bottom: 15px;
    }

    .about-us-banner img {
        width: 300px;
    }

    .about-us-description {
        width: 100%;
        padding: 0 15px;
    }

    .about-us-description p {
        font-size: 0.9rem;
    }

    /* Contacto */
    .contact-container {
        width: 300px;
        padding: 20px;
        margin: 20px 0;
    }

    .form-group input, .form-group textarea, .form-group label {
        font-size: 0.9rem;
    }

    .button-form button {
        font-size: 0.8rem;
        padding: 10px;
    }
}