// Utilities
@import 'utilities/variables';
@import 'utilities/mixins';
@import 'utilities/media-queries';

// Base
@import 'base/reset';
@import 'base/links';

// Components
@import 'components/titles';

// Layout
@import 'layout/header';
@import 'layout/footer';

// Pages
@import 'pages/index';
@import 'pages/discografia';
@import 'pages/galeria';
@import 'pages/clubfans';
@import 'pages/contacto';