#discography {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url(../images/banner_2.jpg);
    background-size: cover;
    background-position: center;

    .album-container {
        width: 920px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        @include desktop-spacing(false);
        background-color: rgba(0, 0, 0, .8);
        box-shadow: 0 0 16px rgba(0, 0, 0, .6);
        border-radius: 5px;
        @include tablet {
            width: 740px;
            padding: 15px;
            @include tablet-spacing(false);
        }
        @include mobile {
            width: 95%;
            flex-direction: column;
            padding: 10px;
            @include mobile-spacing(false);
        }

        .album-1, .album-2 {
            width: 50%;
            @include mobile {
                width: 100%;
                margin-bottom: 10px;
            }

            .subtitle {
                margin-bottom: 20px;
                @include tablet {
                    margin-bottom: 10px;
                }
                @include mobile {
                    margin-bottom: 0;
                }

                .subtitle-border {
                    border-color: white;
                }
            }

            .album-details {
                font-size: 1rem;
                display: flex;
                padding: 5px;
                @include tablet {
                    font-size: .9rem;
                }
                @include mobile {
                    font-size: .8rem;
                }

                p {
                    width: 50%;
                    margin: 5px;

                    &:first-of-type {
                        font-weight: 600;
                        border-right: 1px solid grey;
                    }
                }
            }
        }

        .album-link {
            width: 50%;
            @include mobile {
                width: 100%;
            }

            iframe {
                @include mobile {
                    height: 152px;
                }
            }
        }
    
        &:first-of-type {
            margin-bottom: 0;
        }
    }
}

#top {
    @include tablet {
        display: none;
    }
    @include mobile {
        display: none;
    }

    .table-container {
        display: flex;
        justify-content: center;
        align-items: center;
        @include desktop-spacing(false);
    
        table {
            background-color: white;
            text-align: center;
            border-collapse: collapse;
            box-shadow: 0 0 16px rgba(0, 0, 0, .4);

            td {
                font-size: 1rem;
                color: #000;
                border: 2px solid #eee;
                padding: 15px;

                img {
                    width: 28px;
                    height: 28px;
                }
            }
            
            th {
                @extend td;
                background-color: #1c1c1c;
                color: white;
                text-transform: uppercase;
            }
        }
    }
}