#banner {
    .banner-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .banner-image {
            @include mobile {
                display: flex;
                justify-content: center;
                overflow: hidden;
            }

            img {
                width: 100%;
                height: 100%;
                @include mobile {
                    width: 130%;
                }
            }
        } 

        .banner-content {
            width: 100%;
            font-size: 1.5rem;
            color: $primary-color;
            text-align: center;
            padding: 20px 0;
            background-color: $secondary-color;
            @include tablet {
                font-size: 1.2rem;
                padding: 15px 0;
            }
            @include mobile {
                font-size: .9rem;
                padding: 10px 0;
            }

            span {
                font-weight: 700;
            }
        }
    }
}

#biography {
    display: flex;
    justify-content: center;
    background-color: $secondary-background;
    @include desktop-spacing(true);
    @include tablet {
        @include tablet-spacing(true);
    }
    @include mobile {
        @include mobile-spacing(true);
    }

    .biography-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        color: white;
        gap: 40px;
        @include tablet {
            gap: 30px;
        }
        @include mobile {
            flex-direction: column-reverse;
            gap: 20px;
        }

        .biography-description {
            display: flex;
            flex-direction: column;
            @include mobile {
                align-items: center;
            }

            h2 {
                font-size: 1.6rem;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 20px;
                @include tablet {
                    font-size: 1.3rem;
                    margin-bottom: 15px;
                }
                @include mobile {
                    font-size: 1rem;
                    text-align: center;
                    margin-bottom: 10px;
                }
            }

            p {
                width: 500px;
                font-size: 1.2rem;
                @include tablet {
                    width: 400px;
                    font-size: 1rem;
                }
                @include mobile {
                    width: 90%;
                    font-size: .75rem;
                }
            }
        }

        .biography-image {
            display: flex;
            justify-content: flex-end;

            img {
                width: 400px;
                border-radius: 5px;
               box-shadow: 0 0 10px rgba(0, 0, 0, .4);
                @include tablet {
                    width: 280px;
                }
                @include mobile {
                    width: 180px;
                }
            }
        }
    }
}

#news {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    .carousel {
        width: 940px;
        @include desktop-spacing(false);
        @include tablet {
            width: 650px;
            @include tablet-spacing(false);
        }
        @include mobile {
            width: 320px;
            @include mobile-spacing(false);
        }

        .carousel-inner {
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, .4);

            .carousel-item {
                img {
                    height: 520px;
                    object-fit: cover;
                    object-position: center;
                    @include tablet {
                        height: 360px;
                    }
                    @include mobile {
                        height: 180px;
                    }
                }
            }

            .carousel-caption {
                background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, .6) 40%, rgba(0, 0, 0, .4) 80%, rgba(0, 0, 0, 0) 100%);
                border-radius: 5px;
                right: 0;
                left: 0;
                bottom: 0;
                padding: 20px 0 40px 0;
                @include mobile {
                    display: block !important;
                    padding: 10px 0 35px 0;
                }

                h2 {
                    font-size: 1.8rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    @include tablet {
                        font-size: 1.4rem;
                    }
                    @include mobile {
                        font-size: .9rem;
                    }
                }
            }
        }
    }
}