// Colors
$primary-color: #ffffff;
$secondary-color: #000000;

// Background container color
$primary-background: #f5f5f5;
$secondary-background: #1c1c1c;
$tertiary-background: #2f2f2f;

// Footer background color
$primary-footer: #cfcfcf;
$secondary-footer: #c0c0c0;

// Border color
$primary-border: #eee;
$secondary-border: #b1b1b1;