footer {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $primary-footer;
    @include tablet {
        height: 110px;
    }
    @include mobile {
        height: 100px;
    }

    .description-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8px 0;

        .description-home {
            font-weight: 700;
            font-size: 1.5rem;
            @include tablet {
                font-size: 1.35rem;
            }
            @include mobile {
                font-size: 1.2rem;
            }
        }

        .description-socialmedia {
            img {
                width: 25px;
                height: 25px;
                margin: 0 5px;
                @include tablet {
                    width: 23px;
                    height: 23px;
                }
                @include mobile {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
    
    .copyright {
        width: 100%;
        text-align: center;
        background-color: $secondary-footer;
        padding: 10px 0;
        @include tablet {
            font-size: .9rem;
        }
        @include mobile {
            font-size: .75rem;
            padding: 6px 0;
        }
    }
}