header {
    margin-bottom: 80px;

    .navbar {
        padding: 5px;
        background-color: white !important;

        .navbar-brand {
            font-size: 2rem;
            font-weight: 700;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            img {
                height: 60px;
                margin-right: 10px;
            }
        }

        .navbar-nav {
            a {
                height: 50px;
                font-size: 1rem;
                font-weight: 600;
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                padding: 0 10px;
            }

            li {
                font-weight: 400;
                list-style: none;
                border-radius: 5px;

                &:hover {
                    background-color: #eee;
                    transition: 0.5s;   
                }
            }
        }
    }
}

a {
    text-decoration: none;
    color: #000;
}