.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    background-color: $secondary-color;
    @include tablet {
        padding: 25px 0;
    }
    @include mobile {
        padding: 20px 15px;
    }

    h1 {
        font-size: 4rem;
        font-weight: 700;
        color: $primary-color;
        @include tablet {
            font-size: 3rem;
        }
        @include mobile {
            font-size: 2rem;
        }
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 600;
        text-align: right;
        text-transform: uppercase;
        color: $primary-color;
        @include tablet {
            font-size: 1.1rem;
        }
        @include mobile {
            font-size: .8rem;
        }
    }

    p {
        font-size: 1.5rem;
        font-weight: 600;
        color: $primary-color;
        @include tablet {
            font-size: 1.1rem;
        }
        @include mobile {
            font-size: .8rem;
        }
    }
}

.title-2-container {
    width: 100%;
    color: $primary-color;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
    background-color: $tertiary-background;
    @include tablet {
        padding: 15px 0;
    }
    @include mobile {
        padding: 10px 0;
    }

    h2 {
        font-size: 2.5rem;
        font-weight: 700;
        @include tablet {
            font-size: 1.8rem;
        }
        @include mobile {
            font-size: 1.1rem;
        }
    }
}

.subtitle {
    color: $secondary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    
    h2 {
        font-size: 1.6rem;
        font-weight: 600;
        @include tablet {
            font-size: 1.4rem;
        }
        @include mobile {
            font-size: 1.1rem;
        }
    }

    .subtitle-border {
        width: 60px;
        border-top: 2px solid $secondary-color;
        margin-top: 2px;
        @include tablet {
            width: 50px;
        }
        @include mobile {
            width: 40px;
        }
    }
}