* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: 'Montserrat', sans-serif;
    background-color: $primary-background;
    
    h1, h2, h3, p, ul {
        margin-bottom: 0;
    }
}